body{
    background-image: url(bgimage.jpg);
    background-size: cover; 
    background-repeat: no-repeat;

}
#container1{
    width:800px;
    border:2px solid black;
    border-radius: 20px;
    display: flex;
    height:1000px;
    margin: 0 auto;
    /* background-image: url(myimage.jpg);
    background-size: 800px 1000px; */


}