html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    font-family: 'Recursive', sans-serif;
    color: #ededed;
    background: url(Black\ Pink\ Aesthetic\ Growth\ Desktop\ Wallpaper\ .png);  
    /* background: url(bg.png);  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    color: #fff;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}

.navbar a:hover {
    color: #a861c7;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-family: 'Recursive', sans-serif;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 span {
    color: #a349b9;
}

.home-content h1:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h2 {
    font-family: 'Recursive', sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-family: 'Recursive', sans-serif;
    font-size: 22px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}
.link{
    padding-top: 15px;
    width: 40px;
}
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.Srem;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
#about{
    margin: 35px;
}
.about {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about-img img {
    height: auto;
    margin-left: 30px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(191, 97, 255, 0.8);
}

.about-text h2 {
    font-family: 'Recursive', sans-serif;
    font-size: 60px;
}

.about-text h2 span {
    color: #a349b9;
}

.about-text h4 {
    font-family: 'Recursive', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0 30px;
    line-height: 1.7;
}

.about-text p {
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4r;
    margin-right: 30px;
}

.sub-title {
    font-family: 'Recursive', sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.sub-title span {
    color: #a349b9;
}

section{
    display: flex;
    flex-wrap: wrap-reverse;
} 

.container1 {
    width: 600px;
    height: 600px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    font-size: 30px;
}
.heading2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 100px;
    font-size: 25px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0px;
} 
.Technical-bars .bar .info{
    margin-bottom: 5px;
} 
.Technical-bars .bar .info span{
    font-size: 20px;
    font-weight: 500;
    animation: showText 2.8s 2.8s linear forwards;
    opacity: 0;
}
.Technical-bars .progress-line{
    position: relative;
    margin-bottom:20px ;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color:#662c90;
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #c29bc2;
    position:  absolute;
    border-radius: 10px;
}
.progress-line.html span{
    width: 95%;
} 
.progress-line.css span{
    width: 90%;
} 
.progress-line.Javascript span{
    width: 85%;
} 
.progress-line.python span{
    width: 90%;
} 
.progress-line.react span{
    width: 75%;
} 
.progress-line span::after{
    position: absolute;
    padding:1px 8px;
    background-color: plum;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    top: -28px;
    right:-20px;
    animation: showText 2.8s 2.8s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "95%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.Javascript span::after{
    content: "85%";
}
.progress-line.python span::after{
    content: "90%";
}
.progress-line.react span::after{
    content: "75%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width:0;
    border-right-width:0 ;
    border-top-color:lightcyan;
    top: -10px;
    right: 0;
    animation: showText 2.8s 2.8s linear forwards;
    opacity: 0;
} 
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radial-bar {
    width: 48%; 
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 200px;
    height: 200px;
} 
.radial-bars .progress-bar {
    stroke-width: 10;
    stroke: #9f32ed;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #c29bc2;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 55;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 115;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 50;
    }
}
.radial-bars .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    animation: showText 0.5s 1s linear forwards;
}
.radial-bars .text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
#differ{
    position: absolute;
    left: 58%;
    padding-top: 25px;
}
.img-home{
    position: relative;
    left:5%;
    animation: slideBottom 5s ease forwards;
    animation-delay: .5s;
}

.image{
    border-radius: 256px;
    box-shadow: 0 0 100px rgba(176, 109, 218, 0.8);
}

/* Portfolio section styles */
#Projects {
    padding: 50px 0;
}

#portfolio {
    text-align: center;
    margin-top: 120px;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.h2 span {
    color: #a349b9;
}

.h3{
    font-size: 30px;
}
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.project {
    width: 400px;
    background-color: #e8d5ec;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s, transform 0.3s; 
    overflow: hidden; 
}

.project:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 20px #996bc8, 0 0 40px #815ba7, 0 0 60px #815ba7, 0 0 80px #815ba7; 
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover::before {
    opacity: 1; 
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.project:hover img {
    transform: scale(1.2); 
}

.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}
.project-details h3,p{
    font-family:monospace;
    font-size: large;
}
.project-details h3{
    color: #b770ea;
    font-size: 22px;
}
.project-image img{
    width:350px;
    height: 400px;
}

.project:hover .project-details {
    opacity: 1; 
}

.btn{
    color: #b770ea;
    font-size: 20px;
}

